<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/about.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script defer src="../static/js/index.js"></script> 
    </head>

    <body>
        <nav class="navbar">

            <ul class="top_lista">
                <li class="item-menu">
                    <a href="/">
                        <span class="txt">Home</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="item-menu">
                    <a href="https://github.com/luccafm1/steppy">
                        <span class="txt">Documentation</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="item-menu">
                    <a href="/about">
                        <span class="txt">About</span>
                    </a>
                </li>
            </ul>   
        </nav>

        <div class="header-first-page" onclick="showMenu()" id="btn"><img src="../static/images/icon_menu.png"></i></div>
        <div class="page">
            <div class="title">Welcome to Step<a>Py</a></div>
            <div class="text">
                StepPy is an automatic limit calculator designed to simplify and streamline 
                complex mathematical calculations. Developed as part of our Modeling of 
                Physical Phenomena course, StepPy is an innovative tool that automates the 
                calculation of limits, providing precise and detailed results.

                Our website is intuitive and free, ideal for students and professionals
                 seeking efficiency and clarity in their studies and work. Our mission is to 
                 facilitate the understanding and resolution of mathematical problems, 
                 contributing to the educational and professional advancement of our users.
                </div>
            <div class="about-us">
                <div class="title">About us</div>
                <div class="text">We are a trio of third-semester Computer Science students at the Pontifical Catholic University of Paraná, 
                    united by our passion for programming and problem-solving. Our team consists of Isabella
                     Vanderlinde Berkembrock, Lucca Fabricio Magalhães, and Vitor Nicoletti. We share a common
                      enthusiasm for developing innovative solutions and tackling complex challenges.

                    Our collaboration is based on a strong interest in creating tools that make users' 
                    lives easier, combining our theoretical knowledge with practical programming skills. 
                    Through StepPy, we demonstrate our commitment to contributing to the field of education 
                    and technology, always striving to improve and expand our technical capabilities.
                    
                    We present StepPy with great enthusiasm, believing in its potential to transform 
                    how mathematical calculations are performed. We are dedicated to continuously learning 
                    and evolving as developers, always ready to face new challenges and create impactful 
                    solutions.
                    
                    For more information and personal contacts, please visit our GitHub, which is 
                    linked in the Documentation area of the Menu.
                    <div class="signature">The StepPy Team</div>
                </div>
                <div class="team">
                    <div class="integrant"> 
                        <img src="../static/images/isabella.jpg">
                        <div class="integrant-name">Isabella Vanderlinde</div>
                        <div class="integrant-name">Berkembrock</div>
                    </div>
            
                    <div class="integrant-lucca"> 
                        <img src="../static/images/lucca.jpg">
                        <div class="integrant-name">Lucca Fabricio Magalhães</div>
                    </div>
                    
                    <div class="integrant"> 
                        <img src="../static/imagesg/vitor.jpg">
                        <div class="integrant-name">Vitor Nicoletti</div>
                    </div>
        
                </div>
            </div>
        </div>
    </body>
</html>